.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 550px;
    border: 1px solid #000;

    .input-box {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .content {
        width: 100%;
        overflow: auto;
    }

    .customPadding {
        margin-right: 10px;
    }

    .clear-icon {
        cursor: pointer;
    }

    .keyboardMove {
        background-color: grey;
    }

    .employee-list {
        &:hover {
            background-color: grey;
        }
    }
}